<h2>Записаться</h2>


<form action="/visit" method="POST">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Имя" value=<%=@username%>>
  </div>


  <div class="form-group">
  	<label>Ваш телефонный номер</label>
  </br>
  	<input name="phone" type="phone" class="form-control" placeholder="Телефон" value=<%=@phone%>>
  </div>


  <div class="form-group">
  	<label>Выберите дату</label>
  </br>
  	<input id="datetimepicker" name="date_stamp" type="text" class="form-control" placeholder="Дата и время" value=<%=@date_n_time%>>
  </div>

  <div class="form-group">
    <label>Выберите мастера</label>
    <select class="form-control" name="barber">
       <option disabled>Выберите мастера</option>
       <option <%= @master == 'Любой мастер' ? 'selected' : '' %>>Любой</option>
       <option <%= @master == 'Генадий' ? 'selected' : '' %>>Генадий</option>
       <option <%= @master == 'Дмитрий' ? 'selected' : '' %>>Дмитрий</option>
       <option <%= @master == 'Елена' ? 'selected' : '' %>>Елена</option>
    </select>  
  </div>


<div class="form-group">
   <label>Выберете цвет</label></br>
  <select id="colorpick" name="colorpicker">
    <option selected="white">Не красим</option>
    <option value="#7bd148">Зеленый</option>
    <option value="#5484ed">Темно синий</option>
    <option value="#a4bdfc">Голубой</option>
    <option value="#46d6db">Темно лазурный</option>
    <option value="#7ae7bf">Светло лазурный</option>
    <option value="#51b749">Зеленый</option>
    <option value="#fbd75b">Желтый</option>
    <option value="#ffb878">Оранжевый</option>
    <option value="#ff887c">Розовый</option>
    <option value="#dc2127">Красный</option>
    <option value="#dbadff">Фиолетовый</option>
    <option value="#e1e1e1">Серый</option>
  </select>
</div>

  <button type="submit" class="btn btn-primary">Записаться</button>

</form>

<script type="text/javascript">
$(function () {
  $('#colorpick').simplecolorpicker();
})

$(function () {
  $('#datetimepicker').datetimepicker();
})
</script>